html {
  background-color: #C2E6FF;
  direction: rtl;
  font-family: 'Heebo' !important;
}

#top {
  width: 100%;
  height: 85px;
  background-color: #FFFFFF;
  margin-top: 0;
  align-items: center;
  font-family: Heebo, sans-serif;

}

#top > h1 {

  font-weight: 400;
  line-height: 100%;
  color: #000000;
  font-size: 32px;
  margin-top: 0;
  padding-top:25px;
  padding-right: 25px;
}

#card-container {
 margin-top: 3%;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10%;
  column-gap: 20%;
  padding: 20px; 
  justify-content:center;

}

.card {
  background-color: #fff;
  box-shadow: 1px 5px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 320px;
  height: 220px;
  text-align: right;
  font-family: Arial, sans-serif;
  direction: rtl;
}


.card .icon {
  float: left;
  margin-left: 15px;
  font-size: 1.57em;
  color: #5d5dff;
  line-height: 1;
}
.card h2 {
   font-family: 'Heebo' !important;
  font-size: 1.7em;
  margin-top: 0;
  margin-bottom: 4px;
  color: #000000;
}

.card .description {
  font-size: 1em;
  color: #8f8f8f;
  margin-bottom: 15px;
}

.card .info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 7px;
  margin-top: 7px;
}

.card .info>div {
  flex: 1;
  text-align: center;
}

.card .info p:first-child {
  font-size: 1em;

  color: #000000;
  margin-bottom: 5px;
 font-family: 'Heebo Medium' !important;
}

.card .info p:last-child {
  font-size: 1.57em;
  font-weight: bold;
  color: #000000;
 font-family: 'Heebo Light' !important;

}
@media (max-width: 768px) {
    .app-container {
        justify-content: center; 
    }
}

@media (max-width: 600px) {
    .card {
        width: 100%;
        max-width: 300px; 
    }
}